<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Nergul - KPOP IDOL images</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon3.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body style="background-color: #212529">        
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Nergul</h1>
                    <p class="lead fw-normal text-white-50 mb-0">KPOP IDOL image search - SAVE</p>
                </div>
            <div class="messageDiv">
                <form action="./save/" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="group_Content" name="group_Content" type="text" class="form-control" placeholder="Group">
                        <input id="name_Content" name="name_Content" type="text" class="form-control" placeholder="Name">
                        <input id="date_Content" name="date_Content" type="text" class="form-control" placeholder="Date(YYMMDD)">
                        <input id="image_path_Content" name="image_path_Content" type="text" class="form-control" placeholder="Image Path">
                        <input id="image_url_Content" name="image_url_Content" type="text" class="form-control" placeholder="Image URL">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
            </div>
        </header>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; pepze21 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
